/* root, sidebar, reviews, average rating, sentiment analysis, website visitors */

.root {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* grid-template-columns: repeat(auto-fit, minmax(265px, 1fr)); */
  display: grid;
  grid-auto-flow: dense;
  padding: 20px;
  justify-content: space-between;
  grid-gap: 20px;
  grid-template-areas:
    'sidebar reviews ratings sentiments'
    'sidebar visitors visitors visitors'
    'sidebar visitors visitors visitors'
  ;
  height: 100vh;
  background-color: rgb(6, 107, 107);
}

.SideBar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(245, 245, 245, 0.467);
  color: aliceblue;
  border-radius: 10px;
}

.Reviews {
  grid-area: reviews;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(245, 245, 245, 0.467);
  color: aliceblue;
  border-radius: 10px;
}

.AverageRating {
  grid-area: ratings;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(245, 245, 245, 0.467);
  color: aliceblue;
  border-radius: 10px;
}

.SentimentAnalysis {
  grid-area: sentiments;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(245, 245, 245, 0.467);
  color: aliceblue;
  border-radius: 10px;
}

.WebsiteVisitors {
  grid-area: visitors;
  display: grid;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  background-color: rgba(245, 245, 245, 0.467);
  border-radius: 10px;
}

.WebsiteVisitors div {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.332);
  justify-content: center;
  align-items: center;
  border-radius: 10pt;
  margin: 20px;
}

.Text {
  display: flex;
  color: whitesmoke;
  justify-content: center;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */